<div class="bg-[#222222] rounded-bl-[126px] lg:rounded-bl-[180px] mb-12">
    <div class="container w-full max-w-screen-lg mx-auto px-10">
        <div class="lg:flex lg:items-center py-10">
            <div class="flex-none w-full lg:w-3/5">
                <h3 id="get-support" class="text-white text-2xl lg:text-4xl text-center lg:text-left">Need some help?</h3>                
                <div class="lg:pt-6">
                    <a class="w-[165px] lg:w-[280px] h-[46px] lg:h-[52px] flex items-center justify-center text-white hover:text-[#222222] bg-primary hover:bg-white border border-solid border-[#222222] rounded-[6px] lg:rounded-[10px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease] mx-auto lg:mx-0"
                        href="https://discord.gg/metalbear" target="_blank">Get support on Discord</a>
                </div>
                <div class="lg:pt-6">
                    <a class="w-[165px] lg:w-[280px] h-[46px] lg:h-[52px] flex items-center justify-center text-white hover:text-[#222222] bg-primary hover:bg-white border border-solid border-[#222222] rounded-[6px] lg:rounded-[10px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease] mx-auto lg:mx-0"
                        href="https://calendly.com/eyal-metalbear/mirrord-session" target="_blank">Book time with us</a>
                </div>
            </div>
            <div class="flex-none w-2/3 lg:w-2/5 ml-auto lg:ml-0 mr-6 lg:mr-0">
                <div class="pt-6 lg:pt-0 lg:pl-6">
                    {{- with resources.Get "images/get-support.png" }}
                    {{- with .Resize (printf "%dx%d webp" .Width .Height) }}
                    <img src="{{ .RelPermalink }}" class="w-full h-auto object-cover object-center" alt="{{  .Title }}"
                        width="{{ .Width }}" height="{{ .Height }}">
                    {{- end }}
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</div>