<div class="bg-[#FBFBFD] pt-16 lg:pt-24 overflow-hidden" id="join-waitlist">
    <div class="container w-full max-w-screen-lg mx-auto px-4 relative before:absolute before:content-[''] before:top-[50%] before:-left-[30%] before:w-[200%] before:bg-white before:h-[50%]">
        <div class="bg-tertiary rounded-3xl py-6 px-2 relative">
            <header class="text-center">
                <h3 class="text-lg lg:text-2xl text-white font-medium mb-1"><a href="docs/teams/introduction/" target=”_blank”>mirrord for Teams</a> is coming soon!</h3>
                <p class="text-base lg:text-xl text-white font-light mb-3">Join the Waitlist</p>
            </header>

            <div class="waitlist__form w-10/12 lg:w-1/2 mx-auto relative" x-data="{ submitedMessage: null }">
                <form id="waitlist-form" method="post" action="" x-on:submit="submitedMessage = await handleWaitlistSubmit(event)">
                    <input class="waitlist__input w-full outline-none focus:outline-none text-base text-[#222222] placeholder:text-[#222222] focus-within:text-[#222222] placeholder:font-light border border-solid border-[#222222] rounded-[5px] lg:rounded-[10px] px-8 py-[10px] lg:py-4" type="email" id="email" name="email"
                        autocomplete="off" placeholder="Your Email" data-required="true" required="" x-bind:disabled="submitedMessage != null && submitedMessage.success">
                    <div class="absolute top-0 right-0 w-[46px] lg:w-[58px] h-[46px] lg:h-[58px]">
                        <button class="w-full h-full text-white bg-primary flex items-center justify-center outline-none border border-solid border-[#222222] rounded-r-[5px] lg:rounded-r-[10px]" aria-label="Submit" form="waitlist-form" type="submit">
                            {{ partial (printf "svg/icon-%s.svg" "waitlist") (dict "class" "w-6 h-6 text-current") }}
                        </button>
                    </div>
                </form>
                <div x-bind:class="(submitedMessage != null ? '' : 'scale-y-0') + ' transition py-3 text-center origin-top'">
                    <span x-text="submitedMessage && submitedMessage.text"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{{- partial "form/handle-submission.html" (dict "context" . "prefix" "waitlist" "successMessage"
"Thank you for joining the waitlist! We'll be in touch soon."
"failureMessage" "Failed to join the waitlist. Please contact us at support@metalbear.co") }}
