<div class="bg-[#FBFBFD] rounded-bl-[125px] lg:rounded-bl-[180px]">
    <div class="container w-full max-w-screen-xl mx-auto px-6">
        <div class="lg:flex py-8 lg:py-16">
            <div class="lg:flex-none lg:w-1/2">
                <h1 class="text-[#222222] text-4xl lg:text-6xl text-center lg:text-left font-code font-bold leading-snug lg:leading-normal mb-6">
                    Connect your <span class="text-primary">local</span> process to your <span class="text-primary">k8s</span> cluster
                </h1>
                <div class="w-11/12 lg:pr-12 mb-6 lg:mb-12">
                    <p class="text-center lg:text-left text-sm lg:text-lg text-[#222222]">Simple, right? <b>Not really</b>.
                    </p>
                    <p class="text-center lg:text-left text-sm lg:text-lg text-[#222222]">mirrord injects itself into your process and hooks all of its I/O functions, proxying them to the cloud. So your process thinks it's in the cluster, even though it's still running right there on your machine.
                    </p>                    
                </div>

                <div class="lg:hidden px-6 mb-4">
                    <video autoplay loop muted playsinline>
                        <source src="hero_image.webm" type="video/webm" />
                        <source src="hero_image.mp4" type="video/mp4"/>
                      </video>
                </div>

                <div class="flex flex-col lg:flex-row items-center space-y-8 lg:space-y-0 lg:space-x-12 mb-8 lg:mb-16">
                    <a class="w-[165px] lg:w-[280px] h-[46px] lg:h-[52px] flex items-center justify-center text-white hover:text-[#222222] bg-primary hover:bg-white border border-solid border-[#222222] rounded-[6px] lg:rounded-[10px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
                        href="/#installation">Try It Now</a>
                    <a class="text-[#222222] hover:font-medium leading-loose border-b hover:border-b-2 border-solid border-[#222222]" href="/docs/overview/introduction/">Read the Docs</a>
                </div>
                <div class="w-11/12 lg:pr-12 mb-6 lg:mb-12">
                    <p class="text-center lg:text-left text-sm lg:text-lg text-[#222222]"><b>Why?</b> Because with mirrord, to run your code in cloud conditions:
                    </p>                    
                </div>
                <div class="lg:w-3/4">
                    <ul class="list-none text-[#222222] pl-0">
                        <li class="flex flex-col lg:flex-row items-center lg:items-start space-y-2 lg:space-y-0 lg:space-x-4 mb-4">
                            <div class="text-tertiary pt-1">
                                {{ partial (printf "svg/icon-%s.svg" "check") (dict "class" "w-4 h-4 text-current") }}
                            </div>
                            <div class="text-sm text-center lg:text-left leading-normal">
                                <span class="block lg:inline-block">You don't have to run all of your dependencies locally
                                </span>
                            </div>
                        </li>
                        <li class="flex flex-col lg:flex-row items-center lg:items-start space-y-2 lg:space-y-0 lg:space-x-4 mb-4">
                            <div class="text-tertiary pt-1">
                                {{ partial (printf "svg/icon-%s.svg" "check") (dict "class" "w-4 h-4 text-current") }}
                            </div>
                            <div class="text-sm text-center lg:text-left leading-normal">                                
                                <span class="block lg:inline-block">You don't have to wait for Dockerization, CI or deployment
                                </span>
                            </div>
                        </li>
                        <li class="flex flex-col lg:flex-row items-center lg:items-start space-y-2 lg:space-y-0 lg:space-x-4 mb-4">
                            <div class="text-tertiary pt-1">
                                {{ partial (printf "svg/icon-%s.svg" "check") (dict "class" "w-4 h-4 text-current") }}
                            </div>
                            <div class="text-sm text-center lg:text-left leading-normal">
                                <span class="block lg:inline-block">You don't have to take turns working on a shared environment - the stable version of your service is still there, handling requests</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:flex-none lg:w-1/2 hidden lg:block">
                <video autoplay loop muted playsinline>
                    <source src="hero_image.webm" type="video/webm" />
                    <source src="hero_image.mp4" type="video/mp4"/>
                  </video>
                <a href="#how-it-works" style="justify-content: center;" class="text-center flex justify-center">How does it work?</a>
            </div>
        </div>
    </div>
</div>