<div class="mb-20">
    <div class="bg-[#756DF3] rounded-br-[123px] lg:rounded-br-[183px] relative">
        <div class="hidden xl:block absolute top-0 left-0 w-full h-[25%] bg-[#FAFAFD] z-10"></div>
        <div class="container w-full max-w-screen-xl mx-auto px-6 pt-12 pb-20">
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 xl:col-span-3 flex justify-center items-end order-3 xl:order-1">
                    <div class="relative z-20">
                        <img class="scale-90 xl:scale-[1.2] xl:-translate-x-16 xl:translate-y-8" src="about-section.png"
                            alt="about">
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-4 flex items-end order-1 xl:order-2 text-center xl:text-start">
                    <div class="w-[60%] xl:w-full mx-auto">
                        <h3 class="text-white text-2xl xl:text-[2.75rem] xl:leading-tight font-bold mb-0">Learn More
                            About Remocal Development
                        </h3>
                    </div>
                </div>
                <div class="col-span-12 xl:col-span-5 flex justify-center items-end pb-4 order-2 xl:order-3">
                    <div class="xl:pl-8">
                        <div class="text-center xl:text-left">
                            <p class="text-sm xl:text-lg text-white font-body">The funny-sounding buzzword that is
                                changing how
                                developers work –
                                forever.</p>
                        </div>
                        <div class="flex justify-center xl:justify-start pt-6">
                            <a class="w-[198px] h-[47px] lg:w-[280px] lg:h-[56px] text-xs lg:text-xl text-[#222222] font-body inline-flex justify-center items-center bg-[#FBFBFD] border border-solid border-[#222222] rounded-[6px] lg:rounded-[10px] shadow-[-5px_5px_0px_#000000] lg:shadow-[-9px_8px_0px_#000000] transition-colors duration-200 ease-[ease]"
                                href="/#installation">What’s a Remocal?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>