<!doctype html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">
{{- partial "site_head.html" . }}
<!-- <body x-data="{darkMode: $persist(true)}" class="font-body {{ if .IsHome }}bg-white {{ else }}bg-[#FBFBFD] dark:bg-[#202020]{{ end }}" :class="{ 'dark': darkMode }" :data-theme="darkMode ? 'dark' : 'light'"> -->


  <body class="font-body {{ if .IsHome }}bg-white {{ else }}bg-[#FBFBFD] dark:bg-[#202020]{{ end }}"></body>

  {{- partial "header/header.html" . }}
  {{- block "main" . }}{{ end }}

  {{- partial "footer/footer.html" . }}


</body>
</html>
