<!doctype html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">
{{- partial "site_head.html" . }}
<!-- <body x-data="{darkMode: $persist(true)}" class="font-body {{ if .IsHome }}bg-white {{ else }}bg-[#FBFBFD] dark:bg-[#202020]{{ end }}" :class="{ 'dark': darkMode }" :data-theme="darkMode ? 'dark' : 'light'"> -->

  {{- $currentPage := . }}
  {{- $page_url := $currentPage.RelPermalink | relLangURL }}
  <body class="font-body {{ if .IsHome }}bg-white {{ else if eq .Section "stories" }}bg-white {{ else if eq $page_url "/pricing/" }}bg-white {{ else }}bg-[#FBFBFD] dark:bg-[#202020]{{ end }}"></body>

  {{- if eq $page_url "/comparison/telepresence/" }}
  {{- partial "header/header-landing.html" . }}
  {{- else }}
  {{- partial "header/header.html" . }}
  {{- end }}

  {{- block "main" . }}{{ end }}

  {{- partial "footer/footer-landing.html" . }}

</body>
</html>

