<!doctype html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">
{{- partial "site_head.html" . }}

<body x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
  x-init="$watch('darkMode', val => localStorage.setItem('dark', val))" x-bind:class="{ 'dark': darkMode }"
  :data-theme="darkMode ? 'dark' : 'light'" class="font-body bg-white">

  {{- partial "header/header.html" . }}
  {{- block "main" . }}{{ end }}
  {{- partial "footer/footer.html" . }}

</body>
</html>
