<div class="bg-[#FAFAFD] lg:rounded-bl-[200px] relative">
    <div class="container w-full max-w-screen-xl mx-auto px-6 pb-6 lg:pb-16">
        <div class="grid grid-cols-3 gap-x-6">
            <div class="col-span-3 lg:col-span-2 flex items-center">
                <div class="text-center lg:text-left lg:pr-20">
                    <h2 class="text-4xl lg:text-5xl text-primary lg:leading-tight mb-6">Why choose<br>
                        mirrord over Telepresence?</h2>
                    <p class="text-lg text-[#222222] mb-0">mirrord and Telepresence both let you run your code
                        locally in
                        the
                        context of your Kubernetes cluster... so what makes them different?</p>
                </div>
            </div>
            <div class="col-span-3 lg:col-span-1">
                <img class="md:mx-auto" src="/comparing.gif" alt="">
            </div>
        </div>
        <div class="flex justify-center lg:hidden">
            <a class="text-primary hover:text-white hover:bg-primary leading-none border border-solid border-primary rounded-full py-3 px-5"
                href="/#installation">Get Started for Free</a>
        </div>
    </div>
    <div class="flex justify-center items-center translate-y-5">
        <a href="#vs-telepresence">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="19" cy="19" r="19" fill="#756DF3" />
                <path d="M13.3902 17.5486L18.9978 23.1562L24.6055 17.5486" stroke="#FAFAFD" stroke-width="2.375"
                    stroke-linecap="square" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
</div>