/*------------------------------------------------------------------
Project:		Tailwindcss Hugo Theme
Version:		1.0.0
Last change: 	03/06/2022
-------------------------------------------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    @apply text-primary-text;
}

/* menu */

.header__container {
    @apply container w-full max-w-screen-xl relative mx-auto;
}

.header__container-docs {
    @apply px-4 lg:px-12;
}

.header__container-all {
    @apply px-4;
}

.nav__wrapper-active {
    @apply visible;
}

.nav__wrapper-not-active {
    @apply invisible lg:visible;
}

.nav__menu {
    @apply bg-white lg:bg-transparent;
}

.menu__item {
    @apply mb-0 px-4;
}

.menu__item-link {
    @apply py-4 lg:py-2 px-2 hover:no-underline;
}

.active-link {
    @apply lg:before:absolute lg:before:left-0 lg:before:-bottom-[2px] lg:before:w-full lg:before:bg-tertiary lg:before:h-[4px];
}

/* footer */
.footer {
    @apply bg-[#756DF3];
}

.footer__container {
    @apply container w-full max-w-screen-lg mx-auto py-6 px-6;
}

.footer__wrapper {
    @apply flex flex-wrap items-center justify-center lg:justify-between;
}

.footer__social {
    @apply lg:order-2 flex-none w-full lg:w-1/3 text-center;
}

.footer__social-wrapper {
    @apply inline-flex justify-center lg:justify-end border-b lg:border-b-0 border-solid border-[#222222] pb-4 lg:pb-0 mb-4 lg:mb-0;
}

.footer__copyright {
    @apply lg:order-1 flex-none w-[40%] lg:w-1/3 text-[#222222];
}

.footer__spacer {
    @apply flex-none w-2 h-2 inline-block lg:hidden bg-[#222222] mx-2 rounded-full;
}

.footer__designer {
    @apply lg:order-3 flex-none w-[40%] lg:w-1/3 text-[#222222];
}

/* hero section */

.typed-cursor {
    @apply text-primary;
}

.docs__content p,
.docs__content li {
    @apply text-primary-text mb-4;
}

.docs__content h1,
.docs__content h2,
.docs__content h3,
.docs__content h4 {
    @apply font-heading font-bold text-primary-text;
}

.docs__content h1 {
    @apply text-4xl;
}

/* .docs__content h2 {
    @apply text-2xl lg:text-3xl pt-8 mt-6 border-t border-dashed border-[#9B9B9B];
} */

.docs__content h2 {
    @apply text-2xl lg:text-3xl;
}

.docs__content h3 {
    @apply text-xl;
}

.docs__content h4 {
    @apply text-lg;
}

.docs__content h1:target,
.docs__content h2:target,
.docs__content h3:target,
.docs__content h4:target,
.docs__toc #TableOfContents ul > li > a:target,
.docs__toc #TableOfContents ul > li > ul > li > a:target {
    @apply text-primary;
}

.docs__content>h2[id]::before {
    @apply block content-[''] h-40 -mt-[10rem] mb-6 border-b border-dashed border-[#9B9B9B] pb-4;
}

.docs__content>h3[id]::before, 
.docs__content>h4[id]::before {
    @apply block content-[''] h-40 -mt-[10rem];
}

.docs__content blockquote {
    @apply border-l border-solid border-primary pl-6 bg-gray-50 dark:bg-body-color px-2 py-3 mb-8;
}

.docs__content blockquote p {
    @apply mb-0;
}

.docs__content code {
    @apply py-1 px-2 bg-gray-100 dark:bg-gray-700 rounded-sm;
}

.docs__content .highlight pre {
    @apply bg-gray-100;
}

.docs__content img {
    @apply mx-auto mt-4 mb-6;
}

.docs__content table th {
    @apply bg-body-color;
}

.docs__content > pre {
    @apply text-slate-100 bg-slate-800 overflow-x-auto py-4 px-4 mb-6;
}

.docs__content > pre > code {
    @apply text-slate-100 bg-slate-800 dark:bg-slate-800;
}

/* TOC */
.docs__toc #TableOfContents ul,
.docs__toc #TableOfContents ul > li > ul,
.docs__toc .docs-nav__toc ul,
.docs__toc .docs-nav__toc ul > li > ul {
    @apply list-none pl-0 mb-0;
}

.docs__toc #TableOfContents ul > li,
.docs__toc #TableOfContents ul > li > ul > li,
.docs__toc .docs-nav__toc ul > li,
.docs__toc .docs-nav__toc ul > li > ul > li {
    @apply mb-0;
}

.docs__toc #TableOfContents ul > li > a,
.docs__toc .docs-nav__toc ul > li > a {
    @apply text-primary-text text-sm hover:font-bold;
}

.docs__toc #TableOfContents ul > li > a.toc-active,
.docs__toc .docs-nav__toc ul > li > a.toc-active {
    @apply text-primary;
}

.docs__toc #TableOfContents ul > li > a,
.docs__toc #TableOfContents ul > li > ul > li > a,
.docs__toc .docs-nav__toc ul > li > a,
.docs__toc .docs-nav__toc ul > li > ul > li > a {
    @apply leading-8 block;
}

/* Background */
.docs__content .highlight {
    @apply relative mb-6;
}

.docs__content .highlight .chroma {
    @apply text-slate-100 bg-slate-800 overflow-x-auto py-6 px-2;
}

.docs__content .highlight .chroma .hl {
    @apply bg-slate-700;
}

.docs__content .highlight .chroma code {
    @apply text-sm bg-slate-800;
}

.docs__content .button__clipboard {
    @apply block text-xs text-white bg-primary rounded-md py-1 px-2 ml-auto mb-1;
}

/* Configuration page */
@media (min-width: 1024px) {
    .nav__wrapper {
        visibility: visible!important;
    }
}

.docs__container {
    @apply container max-w-[1400px] mx-auto pt-6 pb-8 px-4;
}

.docs__wrapper {
    @apply relative lg:grid lg:grid-cols-12 lg:items-start mb-8;
}

.docs__sidebar--left {
    @apply pt-4 lg:pt-0;
}

.docs__sidebar-mobile {
    @apply flex items-center justify-between lg:hidden mb-8;
}

.docs__sidebar-search {
    @apply flex items-center justify-between mb-6 lg:mb-0;
}

.docs__sidebar-wrapper {
    @apply origin-top transition-all duration-300 ease-[ease] pt-4 lg:pt-0;
}

.docs__sidebar-wrapper--active {
    @apply visible scale-y-100 opacity-100;
}

.docs__sidebar-wrapper--not-active {
    @apply invisible lg:visible scale-y-0 lg:scale-y-100 opacity-0 lg:opacity-100;
}

.docs__content div.text-right {
    @apply my-6;
}

.docs__content div.text-right .btn.btn-primary {
    @apply bg-[#756DF3] border-none;
}

.docs__content div.text-right .btn.btn-primary:focus {
    outline: none;
}

.docs__content .accordion#accordionaccept_invalid_certificates {
    @apply mt-3;
}

.docs__content a {
    @apply text-[#756DF3];
}

.docs__content .accordion .card {
    @apply bg-gray-50 dark:bg-body-color border border-border-color;
}

.docs__content .accordion .card .card-body a {
    @apply text-[#756DF3];
}

.docs__content .accordion .card:only-child {
    @apply border-b border-border-color;
}

.docs__content .accordion .card .card-header {
    @apply border-b border-border-color bg-gray-100 dark:bg-body-color;
}

.docs__content .accordion .card .card-header h2 {
    @apply m-0 p-0 border-t-0;
}

.docs__content .accordion .card .card-header .btn.btn-link {
    @apply text-[#756DF3] hover:text-[#756DF3];
}

.docs__content .accordion .card .card-body.pl-5 {
    padding-left: 2rem!important;
}

.docs__content .accordion .card .card-body h2 {
    @apply mt-0 pt-0 border-t-0;
}

.docs__content .accordion .card .card-body .breadcrumbs {
    @apply flex items-center flex-wrap text-primary-text mb-4;
}

.docs__content .accordion .card .card-body .breadcrumbs a {
    @apply text-[#756DF3];
}

.docs__content .accordion .card .card-body .breadcrumbs svg {
    @apply block mx-2;
}

.docs__content .accordion .card .card-body .badge.value-type {
    @apply text-sm font-medium px-3;
}

.docs__content .accordion .card .card-body .nav-tabs .nav-link {
    @apply text-[#756DF3];
}

.docs__content .accordion .card .card-body .nav-tabs .nav-link.active {
    @apply bg-body-color;
}


