<meta name="robots" content="noodp" />
<!-- Twitter Card -->
{{ if .IsPage }} {{ with .Params.thumbnail }}
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .  | relURL }}" />
<meta name="twitter:card" content="summary" /> {{ end }} {{ else }}
<meta name="twitter:card" content="summary" /> {{ end }}
<meta name="twitter:title" content="{{ if .Title }}{{ $.Title }} | {{ end }}{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Params.description | default .Site.Params.description }}" />
<meta name="twitter:site" content="@{{ if $.Site.Params.twitterId }}{{ $.Site.Params.twitterId }}{{ end }}" />
<meta name="twitter:creator" content="{{ if $.Site.Params.author }}{{ $.Site.Params.author }}{{ end }}" />
<!-- OG data -->
<meta property="og:locale" content="id" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ if .Title }}{{ $.Title }} | {{ end }}{{ .Site.Title }}">
<meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}">{{ if .Site.Params.header.logo }}
<meta property="og:image" content="{{ .Params.thumbnail | default .Site.Params.header.logo | relURL }}">{{ end }}
<meta property="og:url" content="{{ .RelPermalink }}" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="article:section" content="{{ .Section }}" />{{ if .Params.tags }} {{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }} {{ if isset .Params "date" }}
<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}