{{ if eq .Kind "404" -}}
  <meta name="robots" content="noindex, follow">
{{ else -}}
  {{ with .Params.robots -}}
    <meta name="robots" content="{{ . }}">
  {{ else -}}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  {{ end -}}
{{ end -}}
{{ if .IsHome -}}
  <title>{{ .Site.Params.title }} {{ .Site.Params.titleSeparator }} {{ .Site.Params.titleAddition }}</title>
{{ else -}}
  <title>{{ .Title }} {{ .Site.Params.titleSeparator }} {{ .Site.Params.title }}</title>
{{ end -}}

{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  {{ with .Summary | plainify -}}
    <meta name="description" content="{{ . }}">
  {{ else -}}
    <meta name="description" content="{{ .Site.Params.description }}">
  {{ end -}}
{{ end -}}

{{ if $.Scratch.Get "paginator" }}
  <link rel="canonical" href="{{ .Paginator.URL | absURL }}">
  {{ if .Paginator.HasPrev -}}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
  {{ end -}}
  {{ if .Paginator.HasNext -}}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
  {{ end -}}
{{ else  -}}
  <link rel="canonical" href="{{ .Permalink }}">
{{ end -}}
<!-- Twitter Card -->
{{ if .IsPage }} {{ with .Params.thumbnail }}
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .  | relURL }}" />
<meta name="twitter:card" content="summary" /> {{ end }} {{ else }}
<meta name="twitter:card" content="summary" /> {{ end }}
<meta name="twitter:title" content="{{ if .Title }}{{ $.Title }} | {{ end }}{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Params.description | default .Site.Params.description }}" />
<meta name="twitter:site" content="@{{ if $.Site.Params.twitterId }}{{ $.Site.Params.twitterId }}{{ end }}" />
<meta name="twitter:creator" content="{{ if $.Site.Params.author }}{{ $.Site.Params.author }}{{ end }}" />
<!-- OG data -->
<meta property="og:locale" content="id" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ if .Title }}{{ $.Title }} | {{ end }}{{ .Site.Title }}">
<meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}">{{ if .Site.Params.header.logo }}
<meta property="og:image" content="{{ .Params.thumbnail | default .Site.Params.header.logo | relURL }}">{{ end }}
<meta property="og:url" content="{{ .RelPermalink }}" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="article:section" content="{{ .Section }}" />{{ if .Params.tags }} {{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }} {{ if isset .Params "date" }}
<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}