{{- define "main" }}
<main id="content" class="site-content">
    {{- partial "sections/section-hero.html" . }}
    {{- partial "sections/section-cli.html" . }}
    {{- partial "sections/section-ide.html" . }}
    {{- partial "sections/section-quick-start-link.html" . }}
    {{- partial "sections/section-use-cases.html" . }}
    <!-- {{- partial "sections/section-waitlist.html" . }} -->
    {{- partial "sections/section-all-stories.html" . }}
    {{- partial "sections/section-how-it-works.html" . }}
    {{- partial "sections/section-get-support.html" . }}
</main>
{{- end }}
