{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            {{- .Content -}}
        </div>
        <div class="col-lg-8 text-center">
            <img src="info.svg" />
        </div>
    </div>
</section>
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg text-center">
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-cli-tab" data-bs-toggle="pill" data-bs-target="#pills-cli"
                        type="button" role="tab" aria-controls="pills-cli" aria-selected="true">CLI</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-vscode-tab" data-bs-toggle="pill" data-bs-target="#pills-vscode"
                        type="button" role="tab" aria-controls="pills-vscode" aria-selected="false">VS Code</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-intellij-tab" data-bs-toggle="pill" data-bs-target="#pills-intellij"
                        type="button" role="tab" aria-controls="pills-intellij" aria-selected="false">IntelliJ</button>
                </li>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 2rem">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cli" role="tabpanel" aria-labelledby="pills-cli-tab">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto text-center">
                            {{ $input := `curl -fsSL https://raw.githubusercontent.com/metalbear-co/mirrord/main/scripts/install.sh | bash` }}
                            {{ transform.Highlight $input "bash"}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-vscode" role="tabpanel" aria-labelledby="pills-vscode-tab"
                    tabindex="0">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto text-center">
                            <a href="vscode:extension/MetalBear.mirrord"
                                class="btn btn-primary btn-lg px-4 mb-2">Install VSCode Extension</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-intellij" role="tabpanel" aria-labelledby="pills-intellij-tab"
                    tabindex="0">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto text-center">
                            <a href="https://plugins.jetbrains.com/plugin/19772-mirrord"
                                class="btn btn-primary btn-lg px-4 mb-2">Install IntelliJ extension</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="justify-content-center">
        <h2 class="headingText">Use Cases</h2>
    </div>

    <div class="useCases">
        <div class="cases">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <div class="navigation justify-content-center">
                <label for="r1" class="caseButton">Development</label>
                <label for="r2" class="caseButton">Testing</label>
                <label for="r3" class="caseButton">Troubleshooting</label>
            </div>
            <div class="case s1">
                <p>No more complex and resource-intensive local setups. Plug the process you're developing (or even just
                    your terminal) directly into your staging environment as you work, and quickly test out database
                    commands, API calls to other services, and more.</p>
            </div>

            <div class="case">
                <p>Wait for your CR to be approved, for the CI to pass, and for your service to be deployed to staging only
                    to break it for everyone else because of some bug you missed. Or use mirrord, and immediately test your
                    service in staging conditions, without deployment and with minimal risk to the staging environment.</p>
            </div>

            <div class="case">
                <p>Have an issue that doesn't reproduce locally? Reproduce it in staging with your local process plugged in,
                    and debug it right in your IDE. Then immediately test your fix, no deployment necessary.</p>
            </div>
        </div>

    </div>

    <div>
        <div>
            <div class="justify-content-center">
                <h2 class="headingText">How It Works</h2>
            </div>
            <img id="howItWorks" src="#" />
            <script>
                if (document.documentElement.hasAttribute('data-dark-mode')) {
                    document.getElementById('howItWorks').src = 'mirrord-how-it-works-dark.svg';
                } else {
                    document.getElementById('howItWorks').src = 'mirrord-how-it-works-light.svg';
                }
            </script>
        </div>
        <p class="howItWorksText">mirrord runs in two places - in the memory of your local process, and as a pod in your cloud environment.
            The two components work together to fuse your local process with its remote counterpart so that inputs to
            the remote pod are mirrored to the local process, and outputs from the local process are tunnelled to the
            remote pod. This includes network traffic, file access, and environment variable -
            everything needed to make your local process “think” it's running in the cloud.</p>
    </div>


    {{ end }}

    {{ define "sidebar-prefooter" }}
    {{ end }}

    {{ define "sidebar-footer" }}
    {{ $typewriter := resources.Get "js/index-typewriter.js" -}}
    {{ $typewriter := $typewriter | js.Build -}}
    {{ $typewriter := $typewriter | minify | fingerprint "sha512" -}}
    <script src="{{ $typewriter.RelPermalink }}" integrity="{{ $typewriter.Data.Integrity }}" crossorigin="anonymous"
        defer></script>

    <style>
        .chroma {
            margin: 0;
        }

        .col-lg-8>ul {
            text-align: left;
        }
    </style>
    {{ end }}