{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 text-center">
            {{- .Content -}}
        </div>
        <div class="col-lg-7 col-xl-7 text-center">
            <img src="info.svg" />
        </div>
    </div>
</section>
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg text-center">
            <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-cli-tab" data-bs-toggle="pill" data-bs-target="#pills-cli"
                        type="button" role="tab" aria-controls="pills-cli" aria-selected="true">CLI</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-vscode-tab" data-bs-toggle="pill" data-bs-target="#pills-vscode"
                        type="button" role="tab" aria-controls="pills-vscode" aria-selected="false">VS Code</button>
                </li>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 2rem">
        <div class="col">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cli" role="tabpanel" aria-labelledby="pills-cli-tab">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto text-center">
                            {{ $input := `curl -fsSL https://raw.githubusercontent.com/metalbear-co/mirrord/main/scripts/install.sh | bash` }}
                            {{ transform.Highlight $input "bash"}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-vscode" role="tabpanel" aria-labelledby="pills-vscode-tab"
                    tabindex="0">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto text-center">
                            <a href="vscode:extension/MetalBear.mirrord"
                                class="btn btn-primary btn-lg px-4 mb-2">Install VSCode Extension</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h2 class="useCaseHeading">Use Cases</h2>
    </div>

    </div>
    <div class="container container-fluid">
        <div class="caseText">
            <p>No more complex and resource-intensive local setups. Plug the process you're developing (or even just
                your terminal) directly into your staging environment as you work, and quickly test out database
                commands, API calls to other services, and more.</p>
        </div>

        <div class="caseText">
            <p>Wait for your CR to be approved, for the CI to pass, and for your service to be deployed to staging only
                to break it for everyone else because of some bug you missed. Or use mirrord, and immediately test your
                service in staging conditions, without deployment and with minimal risk to the staging environment.</p>
        </div>

        <div class="caseText">
            <p>Have an issue that doesn't reproduce locally? Reproduce it in staging with your local process plugged in,
                and debug it right in your IDE. Then immediately test your fix, no deployment necessary.</p>
        </div>

        <a class="prev" onclick="addToIndex(-1)">&#10094;</a>
        <a class="next" onclick="addToIndex(1)">&#10095;</a>
    </div>

    <div class="case-container">
        <p class="case" onclick="currentIndex(1)">Testing</p>
        <p class="case" onclick="currentIndex(2)">Development</p>
        <p class="case" onclick="currentIndex(3)">Troubleshooting</p>
    </div>
    
    <script>
        var textIndex = 1;
        showCases(textIndex);

        function addToIndex(n) {
            showCases(textIndex += n);
        }

        function currentIndex(n) {
            showCases(textIndex = n);
        }

        function showCases(n) {
            var i;
            var slides = document.getElementsByClassName("caseText");
            var cases = document.getElementsByClassName("case");
            if (n > slides.length) { textIndex = 1 }
            if (n < 1) { textIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < cases.length; i++) {
                cases[i].className = cases[i].className.replace(" now", "");
            }
            slides[textIndex - 1].style.display = "block";
            cases[textIndex - 1].className += " now";
        }
    </script>

    {{ end }}

    {{ define "sidebar-prefooter" }}
    {{ end }}

    {{ define "sidebar-footer" }}
    {{ $typewriter := resources.Get "js/index-typewriter.js" -}}
    {{ $typewriter := $typewriter | js.Build -}}
    {{ $typewriter := $typewriter | minify | fingerprint "sha512" -}}
    <script src="{{ $typewriter.RelPermalink }}" integrity="{{ $typewriter.Data.Integrity }}" crossorigin="anonymous"
        defer></script>

    <style>
        .chroma {
            margin: 0;
        }

        .col-lg-5>ul:nth-child(3) {
            text-align: left;
        }
    </style>
    {{ end }}