{{ if .Site.Params.alertDismissable -}}
  <div id="announcement" data-id="global-alert-{{ md5 .Site.Params.alertText }}" class="fade show text-center text-lg-center custom-alert" role="alert">
    {{ .Site.Params.alertText | safeHTML }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="dismissAlert()"></button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {    
      var isAlertDismissed = localStorage.getItem('alertDismissed');
      if (isAlertDismissed) {
        document.getElementById('announcement').style.display = 'none';
      }            

      var sectionIsDocs = "{{ .Section }}" === "docs";
      var isDarkMode = window.getComputedStyle(document.body).color === 'rgb(255, 255, 255)'          
      if (isDarkMode && sectionIsDocs) {        
        document.getElementById('announcement').classList.remove('custom-alert');
        document.getElementById('announcement').classList.add('custom-alert-dark');        
      } else {
        document.getElementById('announcement').classList.remove('custom-alert-dark');
        document.getElementById('announcement').classList.add('custom-alert');
      }

      var themeToggleSlider=document.getElementById("theme-toggle-slider")
      var themeToggleSliderMobile = document.getElementById("theme-toggle-slider-mobile");
      
      if (themeToggleSlider !== null || themeToggleSliderMobile !== null) {                    
        themeToggleSlider.addEventListener("click", function() {             
          var isLightMode = window.getComputedStyle(document.body).color === 'rgb(255, 255, 255)'  
          console.log(isLightMode)     
        if (!isLightMode && sectionIsDocs) {          
          document.getElementById('announcement').classList.add('custom-alert-dark');
          document.getElementById('announcement').classList.remove('custom-alert');
        } else {      
          document.getElementById('announcement').classList.remove('custom-alert-dark');
          document.getElementById('announcement').classList.add('custom-alert');
        }      
      }); 

      themeToggleSliderMobile.addEventListener("click", function() {             
          var isLightMode = window.getComputedStyle(document.body).color === 'rgb(255, 255, 255)'          
        if (!isLightMode && sectionIsDocs) {          
          document.getElementById('announcement').classList.add('custom-alert-dark');
          document.getElementById('announcement').classList.remove('custom-alert');
        } else {          
          document.getElementById('announcement').classList.remove('custom-alert-dark');
          document.getElementById('announcement').classList.add('custom-alert');
        }      
      }); 
      }       
    });

    function dismissAlert() {      
      document.getElementById('announcement').style.display = 'none';
      
      localStorage.setItem('alertDismissed', 'true');
    }
  </script>

{{ else -}}
  <div class="alert alert-primary text-center {{ if .Site.Params.darkMode }}custom-alert-dark{{ end }}" role="alert" style="padding: 15px; margin-bottom: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); color: #000;">
    {{ .Site.Params.alertText | safeHTML }}
  </div>
{{ end -}}
