.contributors .content,
.blog .content,
.page .content,
.error404 .content,
.docs.list .content,
.tutorial.list .content,
.showcase.list .content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}


.navbar {
  z-index: 1000;
  background-color: #248b81;
  border-bottom: 1px solid $gray-200;
  padding-top: 0.25rem;
  font-weight: 500;
  font-family: "Maven Pro", sans-serif;
  /*
  margin-top: 4px;
  */
}

header.navbar.navbar-expand-md.navbar-light.doks-navbar nav.container-xxl.flex-wrap.flex-md-nowrap div#offcanvasDoks.offcanvas.offcanvas-end.border-0.py-md-1.show div.offcanvas-body.px-4 ul.nav.flex-column.flex-md-row.ms-md-n3 li.nav-item a.nav-link.ps-0.py-1 {
  color: #248b81;

}

header.navbar.navbar-expand-md.navbar-light.doks-navbar nav.container-xxl.flex-wrap.flex-md-nowrap div#offcanvasDoks.offcanvas.offcanvas-end.border-0.py-md-1.show div.offcanvas-body.px-4 ul.nav.flex-column.flex-md-row.ms-md-n3 li.nav-item a.nav-link.ps-0.py-1.active {
  color: #333840;
}

header.navbar.navbar-expand-md.navbar-light.doks-navbar nav.container-xxl.flex-wrap.flex-md-nowrap div#offcanvasDoks.offcanvas.offcanvas-end.border-0.py-md-1.show div.offcanvas-body.px-4 ul.nav.flex-column.flex-md-row.ms-md-auto.me-md-n5.pe-md-2 li.nav-item a.nav-link.ps-0.py-1 {
  color: #248b81;
}


.nav-pills .nav-link,
.nav-pills .banner .nav a,
.banner .nav .nav-pills a {
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.nav-pills .nav-link.active {
  background-color: #f16b26
}

.nav-pills .nav-link {
  //background-color: #f5874a;
  border-style: solid;
  margin: 0 2px;
  // color: #fff;
}

body {
  color: black
}

.content img {
  max-width: 100%;
}

.py-md-1 {
  padding-top: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #f16b26;
  margin: 2rem 0 1rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
}

.offcanvas-header {
  border-bottom: 1px solid $gray-300;
  padding-top: 1.0625rem;
  padding-bottom: 0.8125rem;
}

h5.offcanvas-title {
  margin: 0;
}

body.docs {
  padding-top: 0 !important;
}

body {
  background-color: white;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;

    /*
    padding-top: 4rem !important;
    */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
  }
}

.home h1 {
  /* font-size: calc(1.375rem + 1.5vw); */
  font-size: calc(1.875rem + 1.5vw);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}
*/

/*
body {
  padding-top: 3.5625rem;
}
*/

.docs-sidebar {
  order: 2;
}

@include media-breakpoint-up(lg) {
  .docs-sidebar {
    order: 0;
    border-right: 1px solid $gray-200;
  }

  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .docs-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

@include media-breakpoint-up(xl) {
  .docs-sidebar {
    flex: 0 1 320px;
  }
}

.docs-links {
  padding-bottom: 5rem;
}

@include media-breakpoint-up(lg) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-links {
      max-height: calc(100vh - 4rem);
      overflow-y: scroll;
    }
  }
}

@include media-breakpoint-up(lg) {
  .docs-links {
    display: block;
    width: auto;
    margin-right: -1.5rem;
    padding-bottom: 4rem;
  }
}

.docs-toc {
  order: 2;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .docs-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

.docs-content {
  padding-bottom: 3rem;
  order: 1;
}

.docs-navigation {
  border-top: 1px solid $gray-200;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 2rem;
}

.docs-navigation a {
  font-size: $font-size-base * 0.9;
}

@include media-breakpoint-up(lg) {
  .docs-navigation {
    margin-bottom: -1rem;
  }

  .docs-navigation a {
    font-size: $font-size-base;
  }
}

.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
}

#TableOfContents ul {
  padding-left: 0;
  list-style: none;
}

::selection {
  background: rgba(212, 53, 159, 0.2);
}

.bg-dots {
  background-image: radial-gradient($gray-300 15%, transparent 15%);
  background-position: 0 0;
  background-size: 1rem 1rem;
  -webkit-mask: linear-gradient(to top, #fff, transparent);
  mask: linear-gradient(to top, #fff, transparent);
  width: 100%;
  height: 9rem;
  margin-top: -10rem;
  z-index: -1;
}

.bg-dots-md {
  margin-top: -11rem;
}

.bg-dots-lg {
  margin-top: -12rem;
}

// https://fossheim.io/writing/posts/css-text-gradient/
.gradient-text {
  background-color: $primary;
  background-image: linear-gradient(90deg, $primary, $blue-300 50%, $pink-500);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.katex {
  font-size: $font-size-md;
}

.card-bar {
  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, $primary, #8ed6fb 50%, #d32e9d);
  border-image-slice: 1;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: 0.7;
}

@include media-breakpoint-up(md) {
  .modal-backdrop.show {
    opacity: 0;
  }
}

.useCaseHeading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 15%;
  color: rgb(242, 106, 27);
}

.useCases {
  width: 83%;
  overflow: hidden;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateX(8%);
  margin-bottom: 15%;

}

.navigation {
  position: absolute;
  left: 32vw;
  transform: translateX(-50%);
  display: flex;
  width: 60vw;
  height: 20vw;
}

.cases {
  margin-top: 7%;
  width: 302%;
  text-align: center;
  height: 100%;
  display: flex;
}

.case {
  width: 33%;
  height: 100%;
  transition: 0.6s;
  margin-top: 8%;
}

.caseButton {
  width: 29vw;
  height: 6vh;
  text-align: center;
  font-size: calc(0.1vw + 1.9vh);  
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin: 1%;
  padding-top: 1vh;
  transition: background-color 0.6s ease;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.caseButton:hover {
  background-color: rgb(242, 106, 27);

}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked~.s1 {
  margin-left: 0%;
}

#r2:checked~.s1 {
  margin-left: -33%;
}

#r3:checked~.s1 {
  margin-left: -66%;
}

#r1:checked~.navigation .caseButton[for="r1"] {
  background-color: rgb(242, 106, 27);
}

#r2:checked~.navigation .caseButton[for="r2"] {
  background-color: rgb(242, 106, 27);
}

#r3:checked~.navigation .caseButton[for="r3"] {
  background-color: rgb(242, 106, 27);
}